In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ------------------ --------------------- 20.5/44.8 kB 640.0 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 548.1 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [8]:
import pymysql

connection = pymysql.connect(
    host='localhost',
    user='root',
    password='P@ssw0rd',
    port=3306,
    database='my_titanic',
    cursorclass=pymysql.cursors.DictCursor
)

with connection.cursor() as cursor:
    cursor.execute('SHOW DATABASES;')
    result = cursor.fetchall()


print(result)

[{'Database': 'information_schema'}, {'Database': 'my_database'}, {'Database': 'my_ship'}, {'Database': 'my_titanic'}, {'Database': 'my_train_titanic'}, {'Database': 'mysql'}, {'Database': 'performance_schema'}, {'Database': 'petforum'}, {'Database': 'sakila'}, {'Database': 'servlet'}, {'Database': 'social_media_app'}, {'Database': 'sys'}, {'Database': 'transaction_test'}, {'Database': 'transaction_test2'}, {'Database': 'world'}]

In [9]:
with connection.cursor() as cursor:
    cursor.execute('SHOW TABLES;')
    result = cursor.fetchall()

print(result)

[{'Tables_in_my_titanic': 'full_passengers'}]

In [21]:
from pprint import pprint
with connection.cursor() as cursor:
    cursor.execute('SELECT * FROM full_passengers;')
    result = cursor.fetchall()

pprint(result[:3])

# for i in result:
#     print(i['pname'])

[{'age': 29,
  'boat': '2',
  'body': None,
  'cabin': 'B5',
  'embarked': 'S',
  'fare': Decimal('211.34'),
  'homedest': 'St Louis, MO',
  'id': 1,
  'parch': 0,
  'pclass': Decimal('1.00'),
  'pname': 'Allen, Miss. Elisabeth Walton',
  'sex': 'female',
  'sibsp': 0,
  'survived': Decimal('1.00'),
  'ticket': '24160'},
 {'age': 1,
  'boat': '11',
  'body': None,
  'cabin': 'C22 C26',
  'embarked': 'S',
  'fare': Decimal('151.55'),
  'homedest': 'Montreal, PQ / Chesterville, ON',
  'id': 2,
  'parch': 2,
  'pclass': Decimal('1.00'),
  'pname': 'Allison, Master. Hudson Trevor',
  'sex': 'male',
  'sibsp': 1,
  'survived': Decimal('1.00'),
  'ticket': '113781'},
 {'age': 2,
  'boat': '',
  'body': None,
  'cabin': 'C22 C26',
  'embarked': 'S',
  'fare': Decimal('151.55'),
  'homedest': 'Montreal, PQ / Chesterville, ON',
  'id': 3,
  'parch': 2,
  'pclass': Decimal('1.00'),
  'pname': 'Allison, Miss. Helen Loraine',
  'sex': 'female',
  'sibsp': 1,
  'survived': Decimal('0.00'),
  'ticket': '113781'}]

In [19]:
with connection.cursor() as cursor:
    cursor.execute('SELECT * FROM full_passengers;')
    result = cursor.fetchall()

for i in result:
    if 'Leonard' in i['pname'] and i['sex'] == 'male':
        print(i['id'], i['pclass'], i['pname'])

21 1.00 Beckwith, Mr. Richard Leonard
443 2.00 Hickman, Mr. Leonard Mark
473 2.00 Kirkland, Rev. Charles Leonard
827 3.00 Goodwin, Master. Sidney Leonard
964 3.00 Leonard, Mr. Lionel
1028 3.00 Moore, Mr. Leonard Charles
1097 3.00 Palsson, Master. Gosta Leonard
1240 3.00 Theobald, Mr. Thomas Leonard

In [5]:
def example(a, b, c, d=0):
    sum = a + b + c + d
    return sum
sum = example(1, 2, 3, 4)
print(sum)

10

In [11]:
def example(*args, **kwargs):
    print(args)
    if kwargs.get('num') != None:
        print(kwargs['num'])


example(1, 2, 3, 4, 5, num2=100)

(1, 2, 3, 4, 5)